@import '../_mixins';
.admin-layout {
  .layout-header {
    box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.09);
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    .logo {
      @include fontSize(22px);
      text-transform: capitalize;
      color: red;
      font-style: italic;
      font-weight: 600;
    }
    .header-icon {
      h2 {
        font-weight: bold;
        margin: 0 !important;
      }
    }
  }
  .layout-aside {
    box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.09);
    ul {
      padding: 0;
      text-decoration: none;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        padding: 15px;
        @include fontSize(18px);
        padding: 15px auto;
        font-weight: 600;
        span {
          margin-right: 5px;
        }
      }
      .active {
        color: white !important;
        background-color: red;
        a {
          color: white !important;

          text-decoration: none !important;
        }
      }
    }
  }
  .layout-main {
    display: flex;
    .layout-aside {
      width: 15%;
    }
    .layout-section {
      width: 85%;
      background-color: rgba(gray, 0.2);
      min-height: 100vh;
      padding: 30px;
    }
  }
}
