@import '../_mixins';

.student-layout {
  .layout-header {
    box-shadow: 0 3px 35px 0 rgba(0, 0, 0, 0.09);
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    .logo {
      @include fontSize(22px);
      text-transform: capitalize;
      color: red;
      font-style: italic;
      font-weight: 600;
    }
    .header-icon {
      h2 {
        font-weight: bold;
        margin: 0 !important;
      }
    }
  }
}
