/** Global CSS */

@import '../App/_mixins';
@import '../App/variables';

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans&display=swap');

body {
  margin: 0 !important;
}
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box !important;
}
