.forget-password {
  height: 100vh;
  .row {
    height: 100%;
  }
  .col1 {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/Login/illus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .col2 {
    text-align: center;
    margin: auto;
    h1 {
      font-weight: 900;
      line-height: 2;
      margin: 0;
      color: rgb(58, 14, 58);
    }
    .description {
      line-height: 1.2;
      font-weight: 100;
      font-style: italic;
      font-size: 12px;
      color: #333;
    }

    .login-form {
      margin: 30px auto !important;
      width: 90%;
    }
    input {
      border: none !important;
      outline: none !important;
      border-bottom: 1px solid #333 !important;
      height: unset;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: 1.5px solid purple !important;
      }
    }
    .login-form-button {
        width: 100% !important;
      }
  }
}
